.error{
    text-align: left;
    background: #ffd8d8;
    transition: 2s;
    max-height: 1000px;
    overflow: hidden;
    margin-top: 10px;
}
.hideError{
    max-height: 0;
}
.errorHeading{
    padding: 5px;
    background: red;
    color: white;
}
.errorBody{
    margin: 20px;
}